{
  "extends": ["airbnb", "plugin:jest/recommended"],
  "plugins": ["jest"],
  "rules": {
    "semi": ["error", "never"]
  },
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "globals": {
    "fetch": true
  }
}
